<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-card class="px-3 px-md-12">
        <v-card-text>
          <h2 class="mt-12">Listado para Aprobar Registro de Unidad Educativa</h2>
        </v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                label="Tipo de Filtro"
                :items="filtros"
                item-text="text"
                item-value="value"
                v-model="filtro"
                clearable
                filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                  :items="institutos"
                  item-text="nombre"
                  item-value="nombre"
                  v-model="search"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4" class="d-flex justify-end">
              <v-btn 
                style="margin-right: 10px"
                @click="searchByFilter" 
                :disabled="!(filtro && search)"
                color="primary" 
                x-large 
                elevation="0"
              >
                Buscar
              </v-btn>
              <v-btn
                style="margin-right: 10px"
                @click="handleCleanList" 
                color="warning" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="mdi:trash-can" 
                  width="30" 
                  height="30"
                />
                Limpiar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <div v-if="loading" class="mt-6">
            <v-progress-linear
              height="10"
              color="primary"
              indeterminate
            ></v-progress-linear>
          </div>
          <div v-else>
            <p>Total de Resultados: {{ items.length }}</p>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Unidad Educativa
                    </th>
                    <th class="text-left">
                      Estatus
                    </th>
                    <th class="text-left">
                      Detalles
                    </th>
                    <th class="text-left">
                      Aprobar
                    </th>
                    <th class="text-left">
                      Eliminar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in items"
                    :key="item.id"
                  >
                    <td>{{ item.nombre }}</td>
                    <td>{{ !item.estatus && 'Sin Aprobar' }}</td>
                    <td @click="goToDetails(item.id)">
                      <Icon 
                        style="cursor: pointer; color: #7acbcd" 
                        icon="ic:baseline-remove-red-eye" 
                        width="35" 
                        height="35" 
                      />
                    </td>
                    <td @click="handleOption(item.id)">
                      <Icon 
                        style="cursor: pointer; color: #229395" 
                        icon="material-symbols:check-circle-rounded" 
                        width="35" 
                        height="35" 
                      />
                    </td>
                    <td @click="handleDelete(item.id)">
                      <Icon 
                        class="error--text"
                        style="cursor: pointer" 
                        icon="material-symbols:delete-rounded" 
                        width="35" 
                        height="35" 
                      />
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "PreRegistroList",
  components: {
    Icon
  },
  data() {
    return {
      loading: false,
      items: [],
      institutos: [],
      filtro: '',
      filtros: [
        {
          text: 'Unidad Educativa',
          value: 'nombre'
        }
      ],
      search: ''
    }
  },
  methods: {
    handleCleanList() {
      this.getItems();
      this.filtro = '';
      this.search = '';
    },
    getItems() { 
      this.loading = true;
      this.axios.get('/unidad_educativa?filter=estatus&value=0')
        .then(({data}) => {
          this.items = [...data];
        })
        .finally(() => {
          this.loading = false;
        });  
    },
    getInstitutos() {
      this.axios.get('/unidad_educativa?filter=estatus&value=0')
        .then(({data}) => {
          this.institutos = [...data];
        });
    },
    searchByFilter() {
      if (this.filtro && this.search) {
        this.loading = true;
        this.axios.get(`/unidad_educativa?filter=estatus&value=0&filter2=${this.filtro}&value2=${this.search}`)
          .then(({data}) => {
            this.items = [...data];
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    handleOption(id) {
      this.axios.get(`/unidad_educativa/${id}/activar`)
        .then(() => {
          this.getItems();
          this.$awn.success('Registo Aprobado con Éxito');
        });
    },
    handleDelete(id) {
      this.axios.delete(`/unidad_educativa/${id}`)
        .then(() => {
          this.getItems();
          this.$awn.success('Solicitud de Registro Eliminada');
        })
    },
    goToDetails(id) {
      this.$router.push('/institutodetalle/' + id);
    },
  },
  beforeMount() {
    this.getItems();
    this.getInstitutos();
  }
})
</script>