<template>
  <v-container class="my-container" fill-height fluid>
    <v-form class="container-content" ref="form" lazy-validation>
      <v-row>
        <v-col cols="12" class="text-center mb-10">
          <h2>Registrar Nuevo Usuario Administrador</h2>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Correo Electrónico"
            v-model.trim = "email"
            background-color="#ECECEC"
            :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Contraseña"
            v-model.trim = "clave"
            background-color="#ECECEC"
            :rules="passwordRules"
            :type = "show ? 'text' : 'password'"
            :append-icon = "show ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show = !show"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Confirmar Contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Confirmar Contraseña"
            v-model.trim = "clave2"
            background-color="#ECECEC"
            :rules="requiredRules"
            :type = "show2 ? 'text' : 'password'"
            :append-icon = "show2 ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show2 = !show2"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre de Usuario:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Nombre de Usuario"
            v-model.trim = "username"
            background-color="#ECECEC"
            :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Administrador:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Nombre de Administrador"
            v-model.trim = "nombre"
            background-color="#ECECEC"
            :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Administrador:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Apellido de Administrador"
            v-model.trim = "apellido"
            background-color="#ECECEC"  
            :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="text-center mt-4">
          <v-btn  x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleRegisterAdmin" style="color: #FFF; text-transform: none">
              <div v-if="loading">
                <v-progress-circular
                    color="#FFF"
                    indeterminate
                    size="28"
                ></v-progress-circular>
              </div>
              <div v-else>
                Registrar Administrador
              </div>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
export default defineComponent({
    name: 'HomeView',
    data () {
      return{
        show: false,
        show2: false,
        loading: false,
        nombre:'',
        apellido:'',
        email:'',
        clave:'',
        clave2:'',
        username:'',
        onlyTextRules: [
          (v) => !!v || '',
          (v) => (/^[a-zA-Z ]*$/.test(v) || /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/.test(v)) || 'Sólo caracteres alfabéticos'
        ],
        passwordRules: [
          (v) => !!v || '',
          (v) => v.length >= 8 || 'Contraseña debe tener al menos 8 caracteres',
          (v) => v.length <= 15 || 'Entre 8 y 15 caracteres',
          (v) => /(?=.*[A-Z])/.test(v) || 'Al menos una mayúscula',
          (v) => /(?=.*\d)/.test(v) || 'Al menos 1 número'
        ],
        emailRules: [
          (v) => !!v || '',
          (v) => /.+@.+\..+/.test(v) || 'Dirección de correo inválida'
        ],
        requiredRules: [
          (v) => !!v || '',
        ],
      }
    },
    methods: {
      goToPage(namePage) {
        this.$router.push({
          name: namePage
        })
      },
      handleRegisterAdmin() {

        if (this.$refs.form.validate()) {

          this.loading = true;

          const request = {
            email:                  this.email,
            username:               this.username,
            password:               this.clave,
            password_confirmation:  this.clave2,
            nombres:                this.nombre,
            apellidos:              this.apellido
          }

          this.axios.post('/usuario', request)
            .then(() => {
              this.$awn.success('Nuevo Administrador Registrado con Éxito');
              this.$refs.form.reset();
            })
            .finally(() => this.loading = false );
        }
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border-radius: 10px;
  padding: 30px;
  background-color: #FFF;
  border: 1px solid #2D2D2D;
}
</style>