<template>
  <v-container class="my-container" fill-height fluid>
    <v-form class="container-content" ref="form" lazy-validation>
      <v-row>
        <v-col cols="12" class="text-center mb-10">
          <h2>Registrar Edición de la Olimpiada</h2>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre de la Edición de la Olimpiada:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Edición de la Olimpiada"
              v-model.trim="nombre"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Temática de la Edición:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Temática de la Edición"
              v-model.trim="tematica"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año de Inicio de la Edición de la Olimpiada:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Año de Inicio de la Edición"
              v-model.trim="anio"
              background-color="#ECECEC"
              :rules="requiredRules"
              type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año de Fin de la Edición de la Olimpiada:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Año de Fin de la Edición"
              v-model="anio2"
              background-color="#ECECEC"
              :rules="requiredRules"
              type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Lugar a ser realizado la Edición:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Lugar a ser realizado la Edición"
              v-model.trim="lugar"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Representante de la Edición de la Olimpiada:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre del Representante"
              v-model.trim="nombreencargado"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleRegister"
                 style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Registrar Edición
            </div>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'HomeView',
    data () {
      return {
        loading: false,
        nombre: '',
        tematica: '',
        anio: '',
        anio2: '',
        edicion: '',
        nombreencargado: '',
        onlyTextRules: [
          (v) => !!v || '',
          (v) => (/^[a-zA-Z ]*$/.test(v) || /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/.test(v)) || 'Sólo caracteres alfabéticos'
        ],
        requiredRules: [
          (v) => !!v || '',
        ],
        lugar: ''
      }
    },
    methods: {
      handleRegister() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          const request = {
            nombre:        this.nombre,
            tematica:      this.tematica,
            anio_inicio:   this.anio,
            anio_fin:      this.anio2,
            lugar:         this.lugar,
            representante: this.nombreencargado
          }
          this.axios.post('/jornada', request)
              .then(() => {
                this.$awn.success('Edición Registrada con Éxito');
                this.$refs.form.reset();
              })
              .finally(() => {
                this.loading = false;
              });
        }
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 85%;
}

@media only screen and (max-width: 1600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
  border: 1px solid #2D2D2D;
}
</style>