<template>
    <v-form ref="form" lazy-validation>
        <v-row class="fill-height">
            <v-col cols="12">
                <v-card rounded>
                    <v-card-text class="px-4 px-md-8 px-lg-12">
                        <h2 class="text-center my-8">Modificación de Nota para Indagación Olimpica</h2>
                        <v-row justify="center">
                            <v-col cols="12" sm="12" lg="4">
                                <v-text-field
                                    disabled
                                    filled
                                    rounded
                                    label="Edición de Olimpiada"
                                    :value="result.jornada.nombre"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row justify="center">
                            <v-col cols="12" sm="12" lg="6">
                                <v-text-field
                                    disabled
                                    filled
                                    rounded
                                    color="#0B7FB9"
                                    background-color="#ECECEC"
                                    :value="result.unidad_educativa.nombre"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" lg="2">
                                <v-text-field
                                    label="Nota"
                                    filled
                                    rounded
                                    color="#0B7FB9"
                                    background-color="#ECECEC"
                                    type="number"
                                    v-model="result.nota"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="my-0">
                            <v-col cols="12" class="text-center mt-4">
                                <v-btn @click="handleModifyNote"  x-large elevation="0" align="center" rounded color="#0B7FB9" style="color: #FFF; text-transform: none">
                                    <div v-if="loading">
                                        <v-progress-circular
                                            color="#FFF"
                                            indeterminate
                                            size="28"
                                        ></v-progress-circular>
                                    </div>
                                    <div v-else>
                                        Modificar Nota
                                    </div>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
    name: 'ModifyPreliminar',
    props: {
        information: Object
    },
    data() {
        return {
            loading: false,
            result: null
        }
    },
    methods: {
        handleModifyNote() {
            if (this.$refs.form.validate()) {

                this.loading = true;

                const request = {
                    "nota":                 this.result.nota,
                    "jornada_id":           this.result.jornada.id,
                    "unidad_educativa_id":  this.result.unidad_educativa.id
                }

                this.axios.put('/preliminar/' + this.result.id, request)
                    .then(() => {
                        this.$awn.success('Modificación de Nota Exitoso');
                        this.$refs.form.reset();
                        this.$router.replace({
                            name: 'resultadoPreliminar'
                        });
                    })
                    .finally(() => {
                        this.loading = false;
                    })
            }
        }
    },
    beforeMount() {
        if (!this.information) {
            this.$router.replace({
                name: 'resultadoPreliminar'
            })
        } else {
            this.result = {...this.information}
        }
    }
})
</script>