<template>

  <v-form ref="form" lazy-validation>
    <v-row class="fill-height">
      <v-col cols="12">
        <v-card rounded>
          <v-card-text class="px-4 px-md-8 px-lg-12">
            <h2 class="text-center my-8">
              Modificación de Notas para Prueba Teórico/Práctica y Experimental
            </h2>

            <v-row justify="center">
              <v-col cols="12" sm="12" lg="4">
                <v-select
                    filled
                    rounded
                    disabled
                    label="Edición de Olimpiada"
                    :items="jornadas"
                    v-model="result.jornada"
                    item-value="id"
                    item-text="nombre"
                    :rules="requiredRules"
                    background-color="#ECECEC"
                ></v-select>
              </v-col>
            </v-row>

            <v-row justify="center">
                <v-col cols="12" sm="12" lg="4">
                    <v-select
                        disabled
                        filled
                        rounded
                        color="#0B7FB9"
                        :items="institutos"
                        v-model="result.unidad_educativa"
                        item-value="id"
                        item-text="nombre"
                        background-color="#ECECEC"
                    ></v-select>
                </v-col>
                <v-col cols="12" sm="12" lg="4">
                    <v-text-field
                        label="Nota Teórico/Práctica"
                        filled
                        rounded
                        hide-details
                        color="#0B7FB9"
                        background-color="#ECECEC"
                        v-model.number="result.nota_teorica"
                        type="number"
                        :rules="requiredRules"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" lg="4">
                    <v-text-field
                        label="Nota Experimental"
                        filled
                        rounded
                        hide-details
                        color="#0B7FB9"
                        background-color="#ECECEC"
                        v-model.number="result.nota_experimental"
                        type="number"
                        :rules="requiredRules"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                    <v-switch
                        label="¿Obtuvo Premio?"
                        v-model="result.obtuvo_medalla"
                    ></v-switch>
                </v-col>
                <v-col cols="12" sm="12" md="4" class="mb-6">
                    <v-select
                        :disabled="!result.obtuvo_medalla"
                        v-model="result.medalla"
                        label="Lugar"
                        :items="medallas"
                        hide-details
                        filled
                        rounded
                    ></v-select>
                </v-col>
            </v-row>
            
            <v-row class="my-0">
              <v-col cols="12" class="text-center mt-4">
                <v-btn x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleUpdate" style="color: #FFF; text-transform: none">
                    <div v-if="loading">
                      <v-progress-circular
                          color="#FFF"
                          indeterminate
                          size="28"
                      ></v-progress-circular>
                    </div>
                    <div v-else>
                      Modificar Notas
                    </div>
                </v-btn>
              </v-col>
            </v-row>

          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>

</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'ModifyPrueba',
    props: {
        information: Object
    },
    data() {
        return {
            loading: false,
            result: null,
            medallas: ['1ER LUGAR', '2DO LUGAR', '3ER LUGAR'],
            jornadas: [],
            institutos: [],
            requiredRules: [
                (v) => !!v || '',
            ],
        }
    },
    methods: {
        async loadJornada() {
            const {data} = await this.axios.get('/jornada');
            if (data) {
                this.jornadas = data;
            }
        },
        getInstitutos() {
            this.axios.get('/unidad_educativa')
                .then(({data}) => {
                    this.institutos = [...data];
                });
        },
        handleUpdate() {
            if (this.$refs.form.validate()) {

                this.loading = true;
                
                const request = {
                    nota_teorica:         this.result.nota_teorica,
                    nota_experimental:    this.result.nota_experimental,
                    jornada_id:           this.result.jornada_id,
                    unidad_educativa_id:  this.result.unidad_educativa_id,
                    obtuvo_medalla:       this.result.obtuvo_medalla ? 1 : 0,
                    medalla:              this.result.obtuvo_medalla ? this.result.medalla : null
                }
                
                this.axios.put('/prueba_final/' + this.result.id, request)
                    .then(() => {
                        this.$awn.success('Modificación de Notas Exitoso');
                        this.$router.replace({
                            name: 'resultadojornada'
                        });
                        this.$refs.form.reset();
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            }
        }
    },
    beforeMount() {
        this.loadJornada();
        this.getInstitutos();
        if (!this.information) {
            this.$router.replace({
                name: 'resultadojornada'
            })
        } else {
            this.result = {...this.information}
        }
    }
})
</script>