<template>
  <v-form ref="form" lazy-validation>
    <v-row class="fill-height">
      <v-col cols="12">
        <v-card rounded>
          <v-card-text class="px-4 px-md-8 px-lg-12">
            <h2 class="text-center my-8">Registro de Notas para Indagación Olimpica</h2>
            <p class="text-center mb-6">Nota: Si ya registró la nota de una unidad educativa pero desea editarla, debe hacerlo desde Resultados de Indagación.</p>
            <v-row justify="center">
              <v-col cols="12" sm="12" lg="4">
                <v-select
                    filled
                    rounded
                    label="Edición de Olimpiada"
                    item-value="id"
                    item-text="nombre"
                    :items="jornadas"
                    v-model="jornada"
                    :rules="requiredRules"
                ></v-select>
              </v-col>
            </v-row>
            <template v-for="(item, index) in preliminares">
              <v-row :key="index" justify="center">
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                      filled
                      rounded
                      :rules="requiredRules"
                      color="#0B7FB9"
                      :label="'Colegio ' + (index + 1)"
                      item-text="nombre"
                      item-value="id"
                      v-model="item.colegio"
                      background-color="#ECECEC"
                      :items="colegios"></v-select>
                </v-col>
                <v-col cols="12" sm="12" lg="2">
                  <v-text-field
                      label="Nota"
                      filled
                      rounded
                      color="#0B7FB9"
                      background-color="#ECECEC"
                      v-model.number="item.nota"
                      type="number"
                      :rules="requiredRules"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-divider class="mb-4" :key="index + 'd'"></v-divider>
            </template>
            <v-row class="my-0">
              <v-col cols="12" class="text-center mt-4">
                <v-btn x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleRegister" style="color: #FFF; text-transform: none">
                    <div v-if="loading">
                      <v-progress-circular
                          color="#FFF"
                          indeterminate
                          size="28"
                      ></v-progress-circular>
                    </div>
                    <div v-else>
                      Registrar Nota
                    </div>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>

</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "PreliminarForm",
  data() {
    return {
      loading: false,
      jornadas: [],
      preliminares: [
        {
          colegio: null,
          nota: null
        }
      ],
      colegios: [],
      jornada: 0,
      requiredRules: [
        (v) => !!v || '',
      ],
    }
  },
  methods: {
    anadir() {
      if (this.preliminares.length < 250) {
        this.preliminares.push({
          colegio:  null,
          nota:     null
        })
      }
    },
    handleRegister() {
      if (this.$refs.form.validate()) {

        this.loading = true;

        const request = {
          "nota":                 this.preliminares[0].nota,
          "jornada_id":           this.jornada,
          "unidad_educativa_id":  this.preliminares[0].colegio
        }

        this.axios.post('/preliminar', request)
            .then(() => {
              this.$awn.success('Registro de Nota Exitoso');
              this.$refs.form.reset();
            })
            .finally(() => {
              this.loading = false;
            })
      }
    },
    async loadJornada() {
      const {data} = await this.axios.get('/jornada');
      if (data) {
        this.jornadas = data;
        this.jornadas = [this.jornadas[this.jornadas.length - 1]];
      }
    },
    async loadColegios() {
      const {data} = await this.axios.get('/unidad_educativa');
      if (data) {
        this.colegios = data;
      }
    }
  },
  beforeMount() {
    this.loadJornada();
    this.loadColegios();
  }
})
</script>