<template>
  <v-form ref="form" lazy-validation>
    <v-row class="fill-height">
      <v-col cols="12">
        <v-card rounded>
          <v-card-text class="px-4 px-md-8 px-lg-12">
            <h2 class="text-center my-8">
              Registro de Notas para Prueba Teórico/Práctica y Experimental
            </h2>
            <p class="text-center mb-6">Nota: Si ya registró la nota de una unidad educativa pero desea editarla, debe hacerlo desde Resultados de Ediciones.</p>
            <v-row justify="center">
              <v-col cols="12" sm="12" lg="4">
                <v-select
                    filled
                    rounded
                    label="Edición de Olimpiada"
                    :items="jornadas"
                    v-model="jornada"
                    item-value="id"
                    item-text="nombre"
                    :rules="requiredRules"
                ></v-select>
              </v-col>
            </v-row>
            <template v-for="(item, index) in preliminares">
              <v-row :key="index" justify="center">
                <v-col cols="12" sm="12" lg="4">
                  <v-select
                      filled
                      rounded
                      color="#0B7FB9"
                      v-model="item.colegio"
                      item-text="nombre"
                      item-value="id"
                      background-color="#ECECEC"
                      :items="colegios"
                      :rules="requiredRules"
                      label="Unidad Educativa"
                      @input="getInstitutes"
                    ></v-select>
                </v-col>
                <v-col cols="12" sm="12" lg="4">
                  <v-text-field
                      label="Nota Teórico/Práctica"
                      filled
                      rounded
                      hide-details
                      color="#0B7FB9"
                      background-color="#ECECEC"
                      v-model.number="item.nota"
                      type="number"
                      :rules="requiredRules"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" lg="4">
                  <v-text-field
                      label="Nota Experimental"
                      filled
                      rounded
                      hide-details
                      color="#0B7FB9"
                      background-color="#ECECEC"
                      v-model.number="item.nota2"
                      type="number"
                      :rules="requiredRules"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <v-switch
                      label="¿Obtuvo Premio?"
                      v-model="item.obtuvomedalla"
                  ></v-switch>
                </v-col>
                <v-col cols="12" sm="12" md="4" class="mb-6">
                  <v-select
                      :disabled="!item.obtuvomedalla"
                      v-model="item.medalla"
                      label="Lugar"
                      :items="medallas"
                      hide-details
                      filled
                      rounded
                  ></v-select>
                </v-col>
              </v-row>
              <v-divider class="mb-4" :key="index + 'd'"></v-divider>
            </template>
            <v-row class="my-0">
              <v-col cols="12" class="text-center mt-4">
                <v-btn x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleRegister" style="color: #FFF; text-transform: none">
                    <div v-if="loading">
                      <v-progress-circular
                          color="#FFF"
                          indeterminate
                          size="28"
                      ></v-progress-circular>
                    </div>
                    <div v-else>
                      Registrar Notas
                    </div>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>

</template>

<script>
export default {
  name: "PruebaForm",
  data() {
    return {
      loading: false,
      jornadas: [],
      jornada: 0,
      medallas: ['1ER LUGAR', '2DO LUGAR', '3ER LUGAR'],
      colegios: [],
      preliminares: [
        {
          colegio:        null,
          nota:           null,
          nota2:          null,
          obtuvomedalla:  false,
          medalla:        null
        }
      ],
      requiredRules: [
        (v) => !!v || '',
      ],
    }
  },
  methods: {
    anadir() {
      if (this.preliminares.length < 250) {
        this.preliminares.push(
            {
              colegio:        null,
              nota:           null,
              nota2:          null,
              obtuvomedalla:  false,
              medalla:        null
            }
        )
      }
    },
    async loadJornada() {
      const {data} = await this.axios.get('/jornada');
      if (data) {
        this.jornadas = data;
        this.jornadas = [this.jornadas[this.jornadas.length - 1]];
      }
    },
    getInstitutes() {
      this.axios.get('/jornada/' + this.jornada + '/preliminar')
        .then(({data}) => {
          this.colegios = data.preliminares;
        });
    },
    handleRegister() {
      if (this.$refs.form.validate()) {

        this.loading = true;
        
        const request = {
          nota_teorica:         this.preliminares[0].nota,
          nota_experimental:    this.preliminares[0].nota2,
          jornada_id:           this.jornada,
          unidad_educativa_id:  this.preliminares[0].colegio,
          obtuvo_medalla:       this.preliminares[0].obtuvomedalla ? 1 : 0,
          medalla:              this.preliminares[0].obtuvomedalla ? this.preliminares[0].medalla : null
        }
        
        this.axios.post('/prueba_final', request)
          .then(() => {
            this.$awn.success('Registro de Notas Exitoso');
            this.$refs.form.reset();
          })
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  beforeMount() {
    this.loadJornada();
  }
}
</script>