<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-card class="px-3 px-md-12">
        <v-card-text>
          <h2 class="mt-12">Listado de Ediciones Olímpicas</h2>
        </v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                label="Tipo de Filtro"
                :items="filtros"
                item-text="text"
                item-value="value"
                v-model="filtro"
                clearable
                filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
              <v-text-field
                label="Filtro"
                v-model.trim="search"
                clearable
                filled
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" lg="4" class="d-flex justify-end">
              <v-btn 
                style="margin-right: 10px"
                @click="searchByFilter" 
                :disabled="!(filtro && search)"
                color="primary" 
                x-large 
                elevation="0"
              >
                Buscar
              </v-btn>
              <v-btn
                style="margin-right: 10px"
                @click="handleCleanList" 
                color="warning" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="material-symbols:change-circle-rounded" 
                  width="30" 
                  height="30"
                />
                Limpiar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <div v-if="loading" class="mt-6">
            <v-progress-linear
              height="10"
              color="primary"
              indeterminate
            ></v-progress-linear>
          </div>
          <div v-else>
            <p>Total de Resultados: {{ items.length }}</p>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Nombre
                    </th>
                    <th class="text-left">
                      Temática
                    </th>
                    <th class="text-left">
                      Representante
                    </th>
                    <th class="text-left">
                      Lugar
                    </th>
                    <th class="text-left">
                      Año de Inicio
                    </th>
                    <th class="text-left">
                      Año de Fin
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in items"
                    :key="item.id"
                  >
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.tematica }}</td>
                    <td>{{ item.representante }}</td>
                    <td>{{ item.lugar }}</td>
                    <td>{{ item.anio_inicio }}</td>
                    <td>{{ item.anio_fin }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "JornadaList",
  components: {
    Icon
  },
  data() {
    return {
      loading: false,
      items: [],
      filtro: '',
      filtros: [
        {
          text: 'Nombre',
          value: 'nombre'
        },
        {
          text: 'Año de Inicio',
          value: 'anio_inicio'
        },
        {
          text: 'Año de Fin',
          value: 'anio_fin'
        },
        {
          text: 'Representante',
          value: 'representante'
        },
        {
          text: 'Lugar',
          value: 'lugar'
        },
        {
          text: 'Temática',
          value: 'tematica'
        },
      ],
      search: ''
    }
  },
  methods: {
    handleCleanList() {
      this.getItems();
      this.filtro = '';
      this.search = '';
    },
    getItems() { 
      this.loading = true;
      this.axios.get('/jornada')
        .then(({data}) => {
          this.items = [...data];
        })
        .finally(() => {
          this.loading = false;
        });  
    },
    searchByFilter() {
      if (this.filtro && this.search) {
        this.loading = true;
        this.axios.get(`/jornada?filter=${this.filtro}&value=${this.search}`)
          .then(({data}) => {
            this.items = [...data];
          })
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  beforeMount() {
    this.getItems();
  }
})
</script>