<template>
    <v-row class="fill-height">
        <v-col cols="12">
            <v-card class="px-6 py-4">
                
                <v-card-text>
                    <h2 class="text-center">Solicitud de Registro de Equipo</h2>
                </v-card-text>
                
                <v-card-text>
                    <v-row justify="center">
                        <v-col cols="12" sm="12" lg="6">
                            <v-text-field
                                disabled
                                filled
                                rounded
                                color="#0B7FB9"
                                background-color="#ECECEC"
                                label="Unidad Educativa"
                                :value="team.unidad_educativa.nombre"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" lg="6">
                            <v-text-field
                                disabled
                                filled
                                rounded
                                label="Edición de Olimpiada"
                                :value="team.jornada.nombre"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                
                <v-card-text>
                    <v-row>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Docente:</p>
                            <teacher-team-card :member="team.docente" />
                        </v-col>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Estudiante #1:</p>
                            <member-team-card :member="team.estudiante_1" />
                        </v-col>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Estudiante #2:</p>
                            <member-team-card :member="team.estudiante_2" />
                        </v-col>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Estudiante #3:</p>
                            <member-team-card :member="team.estudiante_3" />
                        </v-col>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Estudiante #4:</p>
                            <member-team-card :member="team.estudiante_4" />
                        </v-col>
                        <v-col cols="12" lg="4" sm="12">
                            <p class="font-weight-bold text-center">Estudiante #5:</p>
                            <member-team-card :member="team.estudiante_5" />
                        </v-col>
                    </v-row>

                    <v-row class="mt-6">
                        <v-col cols="12" class="text-center">
                            <v-btn 
                                :disabled="!!team.estatus" 
                                x-large 
                                elevation="0" 
                                align="center" 
                                rounded 
                                color="#0B7FB9" 
                                @click="handleRegister(team.id)" 
                                style="color: #FFF; text-transform: none"
                            >
                                <div v-if="loading">
                                    <v-progress-circular
                                        color="#FFF"
                                        indeterminate
                                        size="28"
                                    ></v-progress-circular>
                                </div>
                                <div v-else>
                                    Aprobar Equipo
                                </div>
                            </v-btn>
                        </v-col>
                    </v-row>
                    
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import {defineComponent} from 'vue';
import MemberTeamCard from '@/components/cards/MemberTeamCard.vue';
import TeacherTeamCard from '@/components/cards/TeacherTeamCard.vue';

export default defineComponent({
    name: 'DetailsTeam',
    components: {
        MemberTeamCard,
        TeacherTeamCard
    },
    props: {
        information: Object
    },
    data() {
        return {
            loading: false,
            team: {}
        }
    },
    methods: {
        handleRegister(id) {
            this.loading = true;
            this.axios.get(`/equipo/${id}/activate`)
                .then(() => {
                    this.$awn.success('Equipo Aprobado con Éxito');
                    this.$router.replace({
                        name: 'teamlist'
                    })
                })
                .finally(() => {
                    this.loading = false;
                });
        }
    },
    beforeMount() {
        if (!this.information) {
            this.$router.replace({
                name: 'teamlist'
            })
        } else {
            this.team = {...this.information};
        }
    }
})
</script>