<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-card class="px-3 px-md-12">
        <v-card-text>
          <h2 class="mt-12">Listado de Equipos Olímpicos</h2>
          <p class="mt-4">Nota: Para aprobar a un equipo, dirígase a la opción de detalles.</p>
        </v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                  label="Tipo de Filtro"
                  :items="filtros"
                  item-text="text"
                  item-value="value"
                  v-model="filtro"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
              <v-text-field
                  label="Filtro"
                  v-model.trim="search"
                  clearable
                  filled
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" lg="4" class="d-flex justify-end">
              <v-btn
                style="margin-right: 10px"
                @click="searchByFilter" 
                :disabled="!(filtro && search)" 
                color="primary" 
                x-large 
                elevation="0"
              >
                Buscar
              </v-btn>
              <v-btn
                style="margin-right: 10px"
                @click="handleCleanList" 
                color="warning" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="material-symbols:change-circle-rounded" 
                  width="30" 
                  height="30"
                />
                Limpiar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <div v-if="loading" class="mt-6">
            <v-progress-linear
              height="10"
              color="primary"
              indeterminate
            ></v-progress-linear>
          </div>
          <div v-else>
            <p>Total de Resultados: {{ teams.length }}</p>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Unidad Educativa
                    </th>
                    <th class="text-left">
                      Edición
                    </th>
                    <th class="text-left">
                      Estatus
                    </th>
                    <th class="text-left">
                      Detalles
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in teams"
                    :key="item.id"
                  >
                    <td>{{ item.unidad_educativa.nombre }}</td>
                    <td>{{ item.jornada.nombre }}</td>
                    <td>{{ item.estatus ? 'Aprobado' : 'Sin Aprobar' }}</td>
                    <td @click="goToDetails(item)">
                        <Icon 
                            style="cursor: pointer; color: #229395" 
                            icon="ic:baseline-remove-red-eye" 
                            width="35" 
                            height="35"
                        />
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "TeamList",
  components: {
    Icon
  },
  data() {
    return {
      loading: false,
      teams: [],
      filtro: '',
      filtros: [
        {
          text: 'Estatus',
          value: 'nombre'
        },
        {
          text: 'Edición',
          value: 'jornada_id'
        },
        {
          text: 'Unidad Educativa',
          value: 'unidad_educativa_id'
        }
      ],
      search: ''
    }
  },
  methods: {
    handleCleanList() {
      this.getTeams();
      this.filtro = '';
      this.search = '';
    },
    getTeams() { 
      this.loading = true;
      this.axios.get('/equipo')
        .then(({data}) => {
          this.teams = [...data.data];
        })
        .finally(() => {
          this.loading = false;
        });
    },
    goToDetails(item) {
      this.$router.push({
        name: 'team-details',
        params: { information: item }
      });
    },
    searchByFilter() {
      if (this.filtro && this.search) {
        this.loading = true;
        this.axios.get(`/equipo?filter=${this.filtro}&value=${parseInt(this.search)}`)
          .then(({data}) => {
            this.teams = [...data.data];
          })
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  beforeMount() {
    this.getTeams();
  }
})
</script>