<template>
  <v-card
    class="mx-auto"
    max-width="420"
    elevation="4"
  > 
    <v-card-title>
      {{ member.nombres }}
    </v-card-title>

    <v-card-subtitle>
      {{ member.apellidos }}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        text
        disabled
      >
        {{ !show ? 'Más información' : 'Menos información' }}
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
      >
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Cédula de Identidad:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.cedula }}
              </v-col>
            </v-row>  
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Correo Electrónico:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.email }}
              </v-col>
            </v-row>  
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Teléfono:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.telefono }}
              </v-col>
            </v-row>  
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Año en Curso:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.anio_curso }}
              </v-col>
            </v-row>  
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Fecha de Nacimiento:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.nacimiento }}
              </v-col>
            </v-row>  
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-2">Sexo:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ member.sexo }}
              </v-col>
            </v-row>  
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'MemberTeamCard',
    props: {
        member: Object
    },
    data() {
        return {
            show: false
        }
    }
})
</script>