<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-card class="px-3 px-md-12">
        <v-card-text>
          <h2 class="mt-12">Listado de Resultados de Indagación Olímpica</h2>
        </v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                  label="Tipo de Filtro"
                  :items="filtros"
                  item-text="text"
                  item-value="value"
                  v-model="filtro"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col v-if="filtro === 'jornada_id'" cols="12" sm="12" lg="4">
              <v-select
                  :items="ediciones"
                  item-text="nombre"
                  item-value="id"
                  v-model="search"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col v-else cols="12" sm="12" lg="4">
              <v-select
                  :items="institutos"
                  item-text="nombre"
                  item-value="id"
                  v-model="search"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4" class="d-flex justify-end">
              <v-btn
                style="margin-right: 10px"
                @click="searchByFilter" 
                :disabled="!(filtro && search)" 
                color="primary" 
                x-large 
                elevation="0"
              >
                Buscar
              </v-btn>
              <v-btn
                style="margin-right: 10px"
                @click="handleCleanList" 
                color="warning" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="material-symbols:change-circle-rounded" 
                  width="30" 
                  height="30"
                />
                Limpiar
              </v-btn>
            </v-col>
            <v-col cols="12" sm="12" lg="12" class="d-flex justify-end">
              <v-btn
                @click="handleExportExcel" 
                :disabled="!(filtro && filtro === 'jornada_id')"
                color="#C8E6C9" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="vscode-icons:file-type-excel" 
                  width="30" 
                  height="30"
                />
                Exportar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <div v-if="loading" class="mt-6">
            <v-progress-linear
              height="10"
              color="primary"
              indeterminate
            ></v-progress-linear>
          </div>
          <div v-else>
            <p>Total de Resultados: {{ results.length }}</p>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Unidad Educativa
                    </th>
                    <th class="text-left">
                      Edición
                    </th>
                    <th class="text-left">
                      Nota
                    </th>
                    <th class="text-left">
                      Editar Nota
                    </th>
                    <th>
                      Clasificar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in results"
                    :key="item.id"
                    style="cursor: pointer"
                  >
                    <td>{{ item.unidad_educativa.nombre }}</td>
                    <td>{{ item.jornada.nombre }}</td>
                    <td>{{ item.nota }}</td>
                    <td @click="goToModify(item)">
                      <Icon 
                        style="cursor: pointer; color: #229395" 
                        icon="mdi:pencil-circle" 
                        width="35" 
                        height="35"
                      />
                    </td>
                    <td v-if="!item.clasificado" @click="handleClassified(item)">
                      <Icon 
                        style="cursor: pointer; color: #229395" 
                        icon="material-symbols:check-circle-rounded" 
                        width="35" 
                        height="35"
                      />
                    </td>
                    <td v-else @click="handleClassified(item)">
                      <Icon 
                        style="cursor: pointer; color: #808080" 
                        icon="mdi:minus-circle" 
                        width="35" 
                        height="35"
                      />
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "ResultadoPruebaPreliminar",
  components: {
    Icon
  },
  data() {
    return {
      loading: false,
      loadingExport: false,
      results: [],
      ediciones: [],
      institutos: [],
      filtro: '',
      filtros: [
        {
          text: 'Edición',
          value: 'jornada_id'
        },
        {
          text: 'Unidad Educativa',
          value: 'unidad_educativa_id'
        }
      ],
      search: ''
    }
  },
  methods: {
    handleCleanList() {
      this.getResults();
      this.filtro = '';
      this.search = '';
    },
    handleExportExcel() {
      if (this.filtro === 'jornada_id') {
        this.loadingExport = true;
        this.axios.get(`/jornada/${this.search}/preliminar/export`, {
          method: 'GET',
          responseType: 'blob'
        })
          .then((response) => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', `${Date.now()}.xlsx`);
            document.body.appendChild(link);
            link.click();
          })
          .finally(() => {
            this.loadingExport = false;
          });
      }
    },
    getResults() { 
      this.loading = true;
      this.axios.get('/preliminar')
        .then(({data}) => {
          this.results = [...data.data];
        })
        .finally(() => {
          this.loading = false;
        });
    },
    goToModify(item) {
      this.$router.push({
        name: 'modificarPreliminar',
        params: { information: item }
      })
    },
    handleClassified(item) {
      const request = {
        nota:                 item.nota,
        jornada_id:           item.jornada.id,
        unidad_educativa_id:  item.unidad_educativa.id,
        clasificado:          !item.clasificado
      }
      this.axios.put('/preliminar/' + item.id, request)
        .then(() => {
          this.getResults();
          if (!item.clasificado) {
            this.$awn.success('Unidad Educativa Clasificada a Siguiente Prueba');
          } else {
            this.$awn.success('Unidad Educativa Eliminada de Clasificación a Siguiente Prueba');
          }
        })
    },
    getJornadas() {
      this.axios.get('/jornada')
        .then(({data}) => {
          this.ediciones = [...data];
        });
    },
    getInstitutos() {
      this.axios.get('/unidad_educativa')
        .then(({data}) => {
          this.institutos = [...data];
        });
    },
    searchByFilter() {
      if (this.filtro && this.search) {
        this.loading = true;
        this.axios.get(`/preliminar?filter=${this.filtro}&value=${parseInt(this.search)}`)
          .then(({data}) => {
            this.results = [...data.data];
          })
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  beforeMount() {
    this.getJornadas();
    this.getInstitutos();
    this.getResults();
  }
})
</script>