<template>
    <div :style="styles">
        <router-view></router-view>
    </div>
</template>

<script>
import {defineComponent} from 'vue';
import {getIllustrationsPath} from '@/core/helpers/getAssets';

export default defineComponent({
    name: 'AuthLayout',
    methods: {
        getImage(image) {
          return getIllustrationsPath(image);
        }
    },
    computed: {
        styles() {
            return {
                width: '100%',
                minHeight: `100vh`,
                backgroundImage: `url(${this.getImage('bg-3.jpg')})`,
                backgroundSize: 'cover',
                backgroundAttachment: 'fixed'
            }
        },
    }
})
</script>