<template>
  <v-container class="my-container" fill-heigh fluid>
    <v-form class="container-content" ref="form" lazy-validation>
      <v-row>
        <v-col cols="12" class="text-center mb-8">
          <h2>Registrar Equipo para una Edición de la Olimpiada</h2>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Seleccione la Edición de la Olimpiada:</p>
          <v-select
              outlined
              rounded
              v-model.trim="jornada"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items"
              filled
              label="Jornada"
              :rules="requiredRules"
              item-text="nombre"
              item-value="id"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Docente Olimpico:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombredocente"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Docente Olimpico:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidodocente"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Docente Olimpico:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emaildocente"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Docente Olimpico:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonodocente"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Asignatura que Imparte:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Asignatura"
              v-model.trim="asig1"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Asignatura Adicional que Imparte:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Otras Asignaturas"
              v-model.trim="asig2"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <hr>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombreest1"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidoest1"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emailest1"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Cédula de Identidad del Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Cédula de Identidad"
              v-model.trim="cedulaest1"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonoest1"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año que Cursa el Estudiante #1:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Año en Curso"
              v-model.trim="anioest1"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Sexo del Estudiante #1:</p>
          <v-select
              outlined
              rounded
              v-model.trim="sexoest1"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items2"
              item-text="text"
              item-value="value"
              filled
              label="Sexo"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Fecha de Nacimiento del Estudiante #1:</p>
          <v-menu
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date1"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  rounded
                  color="#0B7FB9"
                  placeholder="Fecha de Nacimiento"
                  background-color="#ECECEC"
                  :rules="requiredRules"
              ></v-text-field>
            </template>
            <v-date-picker
                v-model="date1"
                @input="menu1=false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <hr>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombreest2"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidoest2"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emailest2"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Cédula de Identidad del Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Cédula de Identidad"
              v-model.trim="cedulaest2"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonoest2"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año que Cursa el Estudiante #2:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Año en Curso"
              v-model.trim="anioest2"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Sexo del Estudiante #2:</p>
          <v-select
              outlined
              rounded
              v-model.trim="sexoest2"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items2"

              item-text="text"
              item-value="value"
              filled
              label="Sexo"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Fecha de Nacimiento Estudiante #2:</p>
          <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date2"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  rounded
                  color="#0B7FB9"
                  placeholder="Fecha de Nacimiento"
                  background-color="#ECECEC"
                  :rules="requiredRules"
              ></v-text-field>
            </template>
            <v-date-picker
                v-model="date2"
                @input="menu2=false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <hr>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombreest3"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidoest3"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emailest3"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Cédula de Identidad del Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Cédula de Identidad"
              v-model.trim="cedulaest3"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonoest3"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año que Cursa el Estudiante #3:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Año en Curso"
              v-model.trim="anioest3"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Sexo del Estudiante #3:</p>
          <v-select
              outlined
              rounded
              v-model.trim="sexoest3"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items2"
              item-text="text"
              item-value="value"
              filled
              label="Sexo"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Fecha de Nacimiento Estudiante #3:</p>
          <v-menu
              v-model="menu3"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date3"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  rounded
                  color="#0B7FB9"
                  placeholder="Fecha de Nacimiento"
                  background-color="#ECECEC"
                  :rules="requiredRules"
              ></v-text-field>
            </template>
            <v-date-picker
                v-model="date3"
                @input="menu3=false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <hr>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Estudiante #4:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombreest4"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Estudiante #4:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidoest4"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Estudiante 4:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emailest4"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Cédula de Identidad del Estudiante 4:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Cédula de Identidad"
              v-model.trim="cedulaest4"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Estudiante #4:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonoest4"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año que Cursa el Estudiante #4:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Año en Curso"
              v-model.trim="anioest4"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Sexo del Estudiante #4:</p>
          <v-select
              outlined
              rounded
              v-model.trim="sexoest4"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items2"
              item-text="text"
              item-value="value"
              filled
              label="Sexo"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Fecha de Nacimiento Estudiante #4:</p>
          <v-menu
              v-model="menu4"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date4"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  rounded
                  color="#0B7FB9"
                  placeholder="Fecha de Nacimiento"
                  background-color="#ECECEC"
                  :rules="requiredRules"
              ></v-text-field>
            </template>
            <v-date-picker
                v-model="date4"
                @input="menu4=false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <hr>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre del Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre"
              v-model.trim="nombreest5"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Apellido del Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Apellido"
              v-model.trim="apellidoest5"
              background-color="#ECECEC"
              :rules="onlyTextRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Correo Electrónico del Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Correo Electrónico"
              v-model.trim="emailest5"
              background-color="#ECECEC"
              :rules="emailRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Cédula de Identidad del Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Cédula de Identidad"
              v-model.trim="cedulaest5"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Teléfono del Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Teléfono"
              v-model.trim="telefonoest5"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Año que Cursa el Estudiante #5:</p>
          <v-text-field
              outlined
              rounded
              type="number"
              color="#0B7FB9"
              placeholder="Año en Curso"
              v-model.trim="anioest5"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Sexo del Estudiante #5:</p>
          <v-select
              outlined
              rounded
              v-model.trim="sexoest5"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="items2"
              item-text="text"
              item-value="value"
              filled
              label="Sexo"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Fecha de Nacimiento Estudiante #5:</p>
          <v-menu
              v-model="menu5"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date5"
                  prepend-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  rounded
                  color="#0B7FB9"
                  placeholder="Fecha de Nacimiento"
                  background-color="#ECECEC"
                  :rules="requiredRules"
              ></v-text-field>
            </template>
            <v-date-picker
                v-model="date5"
                @input="menu5=false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn x-large elevation="0" align="center" rounded color="#0B7FB9" @click="handleRegistro"
                 style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Solicitar Registro
            </div>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'HomeView',
    data () {
      return {
        loading: false,
        items: [],
        items2: [
          {
            text: 'Femenino',
            value: 'F'
          },
          {
            text: 'Masculino',
            value: 'M'
          }
        ],
        jornada: 0,

        nombredocente: '',
        apellidodocente: '',
        emaildocente: '',
        telefonodocente: '',
        asig1: '',
        asig2: '',
        cantparticipaciones: '',

        nombreest1: '',
        apellidoest1: '',
        emailest1: '',
        cedulaest1: '',
        telefonoest1: '',
        date1: '',
        menu1: false,
        sexoest1: '',
        fechaest1: '',
        anioest1: '',

        nombreest2: '',
        apellidoest2: '',
        emailest2: '',
        cedulaest2: '',
        telefonoest2: '',
        date2: '',
        menu2: false,
        sexoest2: '',
        fechaest2: '',
        anioest2: '',

        nombreest3: '',
        apellidoest3: '',
        emailest3: '',
        cedulaest3: '',
        telefonoest3: '',
        date3: '',
        menu3: false,
        sexoest3: '',
        fechaest3: '',
        anioest3: '',

        nombreest4: '',
        apellidoest4: '',
        emailest4: '',
        cedulaest4: '',
        telefonoest4: '',
        date4: '',
        menu4: false,
        sexoest4: '',
        fechaest4: '',
        anioest4: '',

        nombreest5: '',
        apellidoest5: '',
        emailest5: '',
        cedulaest5: '',
        telefonoest5: '',
        date5: '',
        menu5: false,
        sexoest5: '',
        fechaest5: '',
        anioest5: '',

        onlyTextRules: [
          (v) => !!v || '',
          (v) => (/^[a-zA-Z ]*$/.test(v) || /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/.test(v)) || 'Sólo caracteres alfabéticos'
        ],
        passwordRules: [
          (v) => !!v || '',
          (v) => v.length >= 8 || 'Contraseña debe tener al menos 8 caracteres',
          (v) => v.length <= 15 || 'Entre 8 y 15 caracteres',
          (v) => /(?=.*[A-Z])/.test(v) || 'Al menos una mayúscula',
          (v) => /(?=.*\d)/.test(v) || 'Al menos 1 número'
        ],
        emailRules: [
          (v) => !!v || '',
          (v) => /.+@.+\..+/.test(v) || 'Dirección de correo inválida'
        ],
        requiredRules: [
          (v) => !!v || '',
        ],
        loadingJornada: false
      }
    },
  methods: {
    handleRegistro() {
      if (this.$refs.form.validate()) {
        
        this.loading = true;
        
        const request = {
          jornada:                      this.jornada,
          nombre_docente:               this.nombredocente,
          apellido_docente:             this.apellidodocente,
          email_docente:                this.emaildocente,
          telefono_docente:             this.telefonodocente,
          asignatura_docente:           this.asig1,
          asignatura_adicional_docente: this.asig2,
          "estudiante": [
            {
              nombres:    this.nombreest1,
              apellidos:  this.apellidoest1,
              email:      this.emailest1,
              cedula:     this.cedulaest1,
              telefono:   this.telefonoest1,
              sexo:       this.sexoest1,
              nacimiento: this.date1,
              anio_curso: this.anioest1
            },
            {
              nombres:    this.nombreest2,
              apellidos:  this.apellidoest2,
              email:      this.emailest2,
              cedula:     this.cedulaest2,
              telefono:   this.telefonoest2,
              sexo:       this.sexoest2,
              nacimiento: this.date2,
              anio_curso: this.anioest2
            },
            {
              nombres:    this.nombreest3,
              apellidos:  this.apellidoest3,
              email:      this.emailest3,
              cedula:     this.cedulaest3,
              telefono:   this.telefonoest3,
              sexo:       this.sexoest3,
              nacimiento: this.date3,
              anio_curso: this.anioest3
            },
            {
              nombres:    this.nombreest4,
              apellidos:  this.apellidoest4,
              email:      this.emailest4,
              cedula:     this.cedulaest4,
              telefono:   this.telefonoest4,
              sexo:       this.sexoest4,
              nacimiento: this.date4,
              anio_curso: this.anioest4
            },
            {
              nombres:    this.nombreest5,
              apellidos:  this.apellidoest5,
              email:      this.emailest5,
              cedula:     this.cedulaest5,
              telefono:   this.telefonoest5,
              sexo:       this.sexoest5,
              nacimiento: this.date5,
              anio_curso: this.anioest5
            }
          ]
        }

        this.axios.post('/equipo', request)
            .then(() => {
              this.$awn.success('Registro de Equipo con Éxito');
              this.$refs.form.reset();
            })
            .finally(() => {
              this.loading = false
            });
      }
    },
    async loadJornada() {
      this.loadingJornada = true
      const {data} = await this.axios.get('/jornada')
      this.loadingJornada = false
      if (data) {
        this.items = data
        this.items = [this.items[this.items.length - 1]];
      }
    }
  },
  beforeMount() {
    this.loadJornada();
  }
})
</script>

<style scoped>
.my-container {
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
  border: 1px solid #2D2D2D;
}
</style>