<template>
  <v-container class="my-container" fill-height fluid>
    <v-form class="container-content" ref="form" lazy-validation>
      <v-row>
        <v-col cols="12" class="text-center mb-10">
          <h2>Registrar Unidad Educativa</h2>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Estado:</p>
          <v-select
              outlined
              rounded
              v-model="estado"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="estados"
              item-text="estado"
              item-value="id"
              filled
              label="Seleccione un Estado"
              :rules="requiredRules"
              @input="handleEstado"
          />
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Eje Territorial:</p>
          <v-select
              outlined
              rounded
              v-model="eje"
              color="#0B7FB9"
              background-color="#ECECEC"
              :items="ejeTerritoriales"
              item-text="nombre"
              item-value="id"
              filled
              label="Seleccione el Eje Territorial"
              :rules="requiredRules"
              @input="handleEje"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Región Educativa:</p>
          <v-select
              rounded
              outlined
              color="#0B7FB9"
              background-color="#ECECEC"
              v-model.trim="region"
              :items="regiones"
              item-value="id"
              item-text="nombre"
              filled
              label="Seleccione la Región Educativa"
              :rules="requiredRules"
              @input="handleRegion"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Municipio:</p>
          <v-select
              rounded
              outlined
              color="#0B7FB9"
              v-model="municipio"
              background-color="#ECECEC"
              :items="municipios"
              item-text="municio"
              item-value="id"
              filled
              label="Seleccione el Municipio"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Nombre de Unidad Educativa:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              placeholder="Nombre de Unidad Educativa"
              v-model.trim="nombre"
              background-color="#ECECEC"
              :rules="requiredRules"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="4" sm="12">
          <p class="my-p">Tipo de Unidad Educativa:</p>
          <v-select
              rounded
              outlined
              color="#0B7FB9"
              v-model="tipo"
              background-color="#ECECEC"
              :items="tipos"
              item-text="text"
              item-value="value"
              filled
              label="Tipo de Unidad Educativa"
              :rules="requiredRules"
          ></v-select>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn x-large elevation="0" rounded color="#0B7FB9" @click="handleRegister"
                 style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Solicitar Registro
            </div>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
import {mapMutations} from "vuex";

export default defineComponent({
  name: 'HomeView',
  data() {
    return {
      loading: false,
      nombre: '',
      eje: 0,
      region: 0,
      municipio: 0,
      type: 0,
      onlyTextRules: [
        (v) => !!v || '',
        (v) => (/^[a-zA-Z ]*$/.test(v) || /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/.test(v)) || 'Sólo caracteres alfabéticos'
      ],
      requiredRules: [
        (v) => !!v || '',
      ],
      estados: [],
      estado: 0,
      ejeTerritoriales: [],
      regiones: [],
      municipios: [],
      tipos: [
        {text: 'Pública', value: 'publica'},
        {text: 'Privada', value: 'privada'}
      ],
      tipo: 0,
    }
  },
  methods: {
    ...mapMutations('accountStore', ['updateUnidadEducativa']),
    async loadUbicaciones() {
      const {data} = await this.axios.get('/estado')
      if (data) {
        this.estados = data
      }
    },
    handleEstado(estado) {
      this.ejeTerritoriales = []
      this.eje = 0
      const find = this.estados.find(value => value.id === estado)
      if (find) {
        this.ejeTerritoriales = find.ejes_territoriales
      }
    },
    handleEje(eje) {
      this.regiones = []
      this.region = 0
      const find = this.ejeTerritoriales.find(value => value.id === eje)
      if (find) {
        this.regiones = find.regiones_educativas
      }
    },
    handleRegion(region) {
      this.municipios = []
      this.municipio = 0
      const find = this.regiones.find(value => value.id === region)
      if (find) {
        this.municipios = find.municipios
      }
    },
    handleRegister() {
      
      if (this.$refs.form.validate()) {

        this.loading = true;

        const request = {
          nombre:           this.nombre,
          eje_territorial:  this.eje,
          region_educativa: this.region,
          municipio:        this.municipio,
          id:               1,
          publica:          this.tipo === 'publica',
          privada:          this.tipo === 'privada'
        }

        this.axios.post('/unidad_educativa', request)
          .then(value => {
            this.$awn.success('Unidad Educativa Registrada');
            this.updateUnidadEducativa(value.data);
            this.$refs.form.reset();
          })
          .finally(() => {
            this.loading = false;
          });
      }

    }

  },
  beforeMount() {
    this.loadUbicaciones()
  }
})
</script>

<style scoped>
.my-container {
  width: 75%;
}

@media only screen and (max-width: 1600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border-radius: 10px;
  padding: 30px;
  background-color: #FFF;
  border: 1px solid #2D2D2D;
}
</style>