<template>
  <div>
    <v-overlay v-if="loading" :value="loading">
      <v-progress-circular
          color="#0F7AC4"
          indeterminate
          size="64"
      ></v-progress-circular>
    </v-overlay>
    <div v-else>
      <v-navigation-drawer
          app
          v-model="drawer"
          floating
      >
        <v-icon
            class="ma-6"
            color="primary"
            @click="drawer = !drawer"
            large> fa-solid fa-xmark </v-icon>
        <v-list nav>
          <template v-for="(item, index) in menu">
            <v-list-item
                link
                exact
                exact-active-class="primary--text"
                v-if="item.role.includes(getrole)"
                :to="item.to"
                :key="index">
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar app fixed height="80" elevation="6" color="white">
        <v-app-bar-nav-icon color="primary" @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar elevation="0" tile color="white">
          <v-spacer></v-spacer>
          <div class="d-inline-block">
            <v-img :src="getLogo" height="55" max-width="148" contain></v-img>
          </div>
          <v-spacer></v-spacer>
          <v-btn icon @click="logout">
            <Icon icon="fluent:arrow-exit-20-filled"  color="#e10000" width="50" height="50"/>
          </v-btn>
        </v-toolbar>

      </v-app-bar>
      <v-main class="app-main" :style="styles">
        <v-container fluid style="height: 100%">
          <router-view></router-view>
        </v-container>
      </v-main>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import logo from '@/assets/logo.png';
import fondo from "@/assets/bg-3.jpg";
import {Icon} from "@iconify/vue2";
import {TokenService} from "@/services/token.service";


export default defineComponent({
  name: 'MainView',
  components: {
    Icon
  },
  data() {
    return {
      loading: true,
      drawer: false,
      menu: [
        {
          text: 'Inicio',
          role: ['school'],
          to: {
            name: 'HomeView'
          }
        },
        {
          text: 'Inicio',
          role: ['admin'],
          to: {
            name: 'admin'
          }
        },
        {
          text: 'Registrar Unidad Educativa',
          role: ['school'],
          to: {
            name: 'register'
          }
        },
        {
          text: 'Registrar Equipo',
          role: ['school'],
          to: {
            name: 'equipo'
          }
        },
        {
          text: 'Agregar Edición',
          role: ['admin'],
          to: {
            name: 'jornadaregister'
          }
        },
        {
          text: 'Agregar Administrador',
          role: ['admin'],
          to: {
            name: 'adminregister'
          }
        },
        {
          text: 'Aprobar Unidad Educativa',
          role: ['admin'],
          to: {
            name: 'preregistro'
          }
        },
        {
          text: 'Detalles Unidad Educativa',
          role: ['school'],
          to: {
            name: 'institutodetalle'
          }
        },
        {
          text: 'Estatus Unidad Educativa',
          role: ['school'],
          to: {
            name: 'institutostatus'
          }
        },
        {
          text: 'Listado Unidad Educativa',
          role: ['admin'],
          to: {
            name: 'institutolist'
          }
        },
        {
          text: 'Listado de Equipos',
          role: ['admin'],
          to: {
            name: 'teamlist'
          }
        },
        {
          text: 'Listado de Ediciones',
          role: ['admin'],
          to: {
            name: 'jornadalist'
          }
        },
        {
          text: 'Indagación Olímpica',
          role: ['admin'],
          to: {
            name: 'preliminarform'
          }
        },
        {
          text: 'Resultados Indagación',
          role: ['admin'],
          to: {
            name: 'resultadoPreliminar'
          }
        },
        {
          text: 'Prueba Teórico/Práctica',
          role: ['admin'],
          to: {
            name: 'pruebaform'
          }
        },
        {
          text: 'Resultados de Ediciones',
          role: ['admin'],
          to: {
            name: 'resultadojornada'
          }
        },
      ]
    }
  },
  computed: {
    styles() {
      return {
        minHeight: `100vh`,
        backgroundImage: 'url("' + fondo + '")',
        backgroundSize: 'cover',
        backgroundAttachment: 'fixed'
      }
    },
    getLogo() {
      return logo
    },
    getrole() {
      return this.$store.state.accountStore.user.role
    }
  },
  methods: {
    loadAccount() {
      this.loading = true
      this.$store.dispatch('accountStore/getAccount')
          .then(async value => {
            if (value.data.role === 'school') {
              if (this.$route.name !== 'HomeView')
                await this.$router.replace({
                  name: 'HomeView'
                })
            } else {
              if (this.$route.name !== 'admin')
                await this.$router.replace({
                  name: 'admin'
                })
            }

            this.loading = false
          })
          .catch(async (e) => {
            console.log(e)
            TokenService.removeToken()
            TokenService.removeRefreshToken()
            await this.$router.replace({
              name: 'Login'
            })
            this.loading = false
          })
    },
    logout() {
      TokenService.removeRefreshToken()
      TokenService.removeToken()
      this.$router.replace({
        name: 'Login'
      })
    }
  },
  beforeMount() {
    if (TokenService.getToken()) {
      this.axios.defaults.headers.common[
          'Authorization'
          ] = `Bearer ${TokenService.getToken()}`;
      this.axios.defaults.headers.common[
          'Accept'
          ] = `application/json`;
    }
    this.loadAccount()
  }
})
</script>