<template>
  <v-container class="my-container" fill-height fluid>
    <v-row>
      <v-col cols="12">
        <v-card rounded class="px-6 py-6">
          <h2 class="text-center my-4">Detalles de la Unidad Educativa</h2>
          <v-card-text>
            <div v-if="loading">
              <v-progress-linear
                color="cyan"
                indeterminate
              ></v-progress-linear>
            </div>
            <div v-else>
              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Nombre:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  {{ unidad_educativa.nombre }}
                </v-col>
              </v-row>
              
              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Estatus:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  <div v-if="unidad_educativa.estatus">
                    <span class="align_items success--text">Aprobado <Icon icon="material-symbols:check-small" width="30" height="30" /></span>
                  </div>
                  <div v-else>
                    <span class="align_items error--text">Sin Aprobar <Icon icon="ri:close-fill" width="30" height="30" /></span>
                  </div>
                  <div></div>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Estado:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  {{ estado }}
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Eje Territorial:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  {{ eje_territorial }}
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Región Educativa:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  {{ region_educativa }}
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" lg="6" sm="6">
                  <span class="subtitle-1">Municipio:</span>
                </v-col>
                <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                  {{ unidad_educativa.municipio.municio }}
                </v-col>
              </v-row>

              <div class="mt-3">
                <v-col cols="12" lg="12" sm="12">
                  <h3 class="text-center">Ediciones de Olimpiadas Participadas</h3>
                </v-col>
                <div v-if="ediciones_participadas.length" class="py-6">
                  <v-row v-for="(item, index) in ediciones_participadas" :key="index">
                    <v-col cols="12" lg="6" sm="6">
                      <span class="subtitle-1">{{item.jornada.nombre}}</span>
                    </v-col>
                    <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                      {{ item.jornada.anio_inicio }}
                    </v-col>
                  </v-row>
                </div>
                <div v-else class="py-6">
                  <v-row>
                    <v-col cols="12" lg="12" sm="12">
                      <p class="text-center">Esta Unidad Educativa no ha particado en alguna Edición</p>
                    </v-col>
                  </v-row>
                </div>
              </div>

            </div>
         
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "DetailsInstituteById",
  components: {
    Icon
  },  
  data() {
    return {
      loading: false, 
      unidad_educativa: {},
      estado: '',
      eje_territorial: '',
      region_educativa: '',
      ediciones_participadas: []
    }
  },

  methods: {
    loadEstados() {
      this.axios.get('/estado')
        .then(({data}) => {
          this.estado               = data[0].estado.split(' ')[1];
          const ejes_territoriales  = data[0].ejes_territoriales;
          const result              = ejes_territoriales.find(eje => eje.id === this.unidad_educativa.eje_territorial_id);
          this.eje_territorial      = result.nombre;
          this.region_educativa     = result.regiones_educativas.find(item => item.id === this.unidad_educativa.region_educativa_id).nombre;
        })
        .finally(() => {
          this.loading = false;
        })
    },
    getDataInstitue() {
        this.loading = true;
        this.axios.get('/unidad_educativa/' + this.$route.params.id) 
            .then(({data}) => {
                console.log(data)
                this.unidad_educativa = {...data};
            });     
    },
    getTeamByInstitute() {
      this.axios.get('/equipo')
        .then(({data}) => {
          this.teams = [...data.data];
          const result = this.teams.map(item => {
            if (item.unidad_educativa.nombre === this.unidad_educativa.nombre) {
              return item;
            }
          });
          this.ediciones_participadas = result;
        });
    }
  },
  beforeMount() {
    this.getDataInstitue();
    this.loadEstados();
    this.getTeamByInstitute();
  }
})
</script>

<style scoped>
.my-container {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.align_items {
  display: flex;
  align-items: center;
}
</style>