<template>
  <v-container class="my-container" fill-height fluid>
    <v-row>
      <v-col cols="12">
        <v-card rounded class="px-6 py-6">
          <h2 class="text-center my-4">Detalles de la Unidad Educativa</h2>
          <v-card-text>
            
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Nombre:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ unidad_educativa.nombre }}
              </v-col>
            </v-row>
            
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Estatus:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                <div v-if="unidad_educativa.estatus">
                  <span class="align_items success--text">Aprobado <Icon icon="material-symbols:check-small" width="30" height="30" /></span>
                </div>
                <div v-else>
                  <span class="align_items error--text">Sin Aprobar <Icon icon="ri:close-fill" width="30" height="30" /></span>
                </div>
                <div></div>
              </v-col>
            </v-row>
            
            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Estado:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ estado }}
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Eje Territorial:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ eje_territorial }}
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Región Educativa:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ region_educativa }}
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" lg="6" sm="6">
                <span class="subtitle-1">Municipio:</span>
              </v-col>
              <v-col cols="12" lg="6" sm="6" class="font-weight-bold">
                {{ unidad_educativa.municipio.municio }}
              </v-col>
            </v-row>
         
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from "vue";
import {mapState} from "vuex";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "DetalleInstituto",
  components: {
    Icon
  },  
  data() {
    return { 
      estado: '',
      eje_territorial: '',
      region_educativa: ''
    }
  },
  computed: {
    ...mapState('accountStore', ['unidad_educativa'])
  },
  methods: {
    loadEstados() {
      this.loading = true;
      this.axios.get('/estado')
        .then(({data}) => {
          this.estado               = data[0].estado.split(' ')[1];
          const ejes_territoriales  = data[0].ejes_territoriales;
          const result              = ejes_territoriales.find(eje => eje.id === this.unidad_educativa.eje_territorial_id);
          this.eje_territorial      = result.nombre;
          this.region_educativa     = result.regiones_educativas.find(item => item.id === this.unidad_educativa.region_educativa_id).nombre;
        });
    }
  },
  beforeMount() {
    this.loadEstados();
  }
})
</script>

<style scoped>
.my-container {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.align_items {
  display: flex;
  align-items: center;
}
</style>