<template>
  <v-container fill-height fluid>
    <v-row>
      
      <v-col cols="12" lg="4" sm="12">
        <v-card rounded class="fill-height">
          <v-card-text>
            <h2 class="text-center py-2">Estatus de la Institución</h2>
          </v-card-text>
          <v-card-text class="text-center">
            <p class="font-weight-bold mb-2">Respuesta al Registro</p>
            <span v-if="!unidad_educativa" class=" align_items font-weight-bold text-h6 error--text">Sin Registrar</span>
            <template v-else>
              <span v-if="unidad_educativa.estatus" class="font-weight-bold text-h6 success--text">Aprobado</span>
              <span v-else class="font-weight-bold text-h6 error--text">Sin Aprobar</span>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
      
      <v-col cols="12" lg="4" sm="12">
        <v-card rounded class="fill-height">
          <v-card-text>
            <h2 class="text-center py-2">Estatus de Equipos</h2>
          </v-card-text>
          <template v-for="(equipo,index) in equipos">
            <v-card-text :key="index" class="text-center">
              <p class="font-weight-bold mb-2">Equipo Registrado para {{ equipo.jornada.nombre }}</p>
              <span v-if="equipo.estatus" class="font-weight-bold text-h6 success--text">Aprobado</span>
              <span v-else class="font-weight-bold text-h6 error--text">Sin Aprobar</span>
            </v-card-text>
          </template>
        </v-card>
      </v-col>
      
      <v-col cols="12" lg="4" sm="12">
        <v-card rounded class="fill-height">
          <v-card-text>
            <h2 class="text-center py-2">Resultados de Jornadas</h2>
          </v-card-text>
          <template v-for="(prueba,index) in pruebas">
            <v-card-text :key="index" class="text-center">
              <p class="font-weight-bold">{{ prueba.jornada.nombre }}</p>
              <span v-if="prueba.medalla" class="font-weight-bold text-h6 success--text">{{prueba.medalla}}</span>
              <span v-else class="font-weight-bold text-h6 error--text">Sin Premio</span>
            </v-card-text>
          </template>
        </v-card>
      </v-col>
    
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from "vue";
import {mapState} from "vuex";

export default defineComponent({
  name: "EstatusView",
  computed: {
    ...mapState('accountStore', ['unidad_educativa'])
  },
  data() {
    return {
      equipos: [],
      pruebas: []
    }
  },
  beforeMount() {
    if (this.unidad_educativa)
      this.axios.get(`/unidad_educativa/${this.unidad_educativa.id}/estatus`)
          .then(value => {
            this.equipos = value.data.equipos
            this.pruebas = value.data.pruebas_finales
            console.log(this.pruebas)
          })
  }
})
</script>

<style scoped>
.align_items {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>