<template>
  <v-row class="fill-height">
    <v-col cols="12">
      <v-card class="px-3 px-md-12">
        <v-card-text>
          <h2 class="mt-12">Listado de Unidades Educativas</h2>
        </v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" lg="4">
              <v-select
                  label="Tipo de Filtro"
                  :items="filtros"
                  item-text="text"
                  item-value="value"
                  v-model="filtro"
                  clearable
                  filled
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
              <v-text-field
                  label="Filtro"
                  v-model.trim="search"
                  clearable
                  filled
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" lg="4" class="d-flex justify-end">
              <v-btn
                style="margin-right: 10px"
                @click="searchByFilter" 
                :disabled="!(filtro && search)" 
                color="primary" 
                x-large 
                elevation="0"
              >
                Buscar
              </v-btn>
              <v-btn
                style="margin-right: 10px"
                @click="handleCleanList" 
                color="warning" 
                x-large 
                elevation="0"
              >
                <Icon 
                  style="margin-right: 5px" 
                  icon="material-symbols:change-circle-rounded" 
                  width="30" 
                  height="30"
                />
                Limpiar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <div v-if="loading" class="mt-6">
            <v-progress-linear
              height="10"
              color="primary"
              indeterminate
            ></v-progress-linear>
          </div>
          <div v-else>
            <p>Total de Resultados: {{ institutes.length }}</p>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Unidad Educativa
                    </th>
                    <th class="text-left">
                      Estatus
                    </th>
                    <th class="text-left">
                      Tipo
                    </th>
                    <th class="text-left">
                      Detalles
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in institutes"
                    :key="item.id"
                  >
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.estatus ? 'Aprobado' : 'Sin Aprobar' }}</td>
                    <td>{{ item.publica ? 'Pública' : 'Privada' }}</td>
                    <td @click="goToDetails(item.id)">
                      <Icon 
                        style="cursor: pointer; color: #7acbcd" 
                        icon="ic:baseline-remove-red-eye" 
                        width="35" 
                        height="35" 
                      />
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import {Icon} from "@iconify/vue2";

export default defineComponent({
  name: "InstitutoList",
  components: {
    Icon
  },
  data() {
    return {
      loading: false,
      institutes: [],
      filtro: '',
      filtros: [
        {
          text: 'Unidad Educativa',
          value: 'nombre'
        },
        {
          text: 'Estatus',
          value: 'estatus'
        },
        // {
        //   text: 'Pública',
        //   value: 'publica'
        // },
        // {
        //   text: 'Privada',
        //   value: 'privada'
        // }
      ],
      search: ''
    }
  },
  methods: {
    handleCleanList() {
      this.getInstitutes();
      this.filtro = '';
      this.search = '';
    },
    getInstitutes() { 
      this.loading = true;
      this.axios.get('/unidad_educativa')
        .then(({data}) => {
          console.log(data)
          this.institutes = [...data];
        })
        .finally(() => {
          this.loading = false;
        });
    },
    goToDetails(id) {
      this.$router.push('/institutodetalle/' + id);
    },
    searchByFilter() {
      if (this.filtro && this.search) {
        this.loading = true;
        this.axios.get(`/unidad_educativa?filter=${this.filtro}&value=${this.search}`)
          .then(({data}) => {
            this.institutes = [...data];
          })
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  beforeMount() {
    this.getInstitutes();
  }
})
</script>