<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col cols="10" md="6" lg="4">
        <v-row class="container-content">
          <v-col cols="12" class="text-center mb-10">
            <h2>¡Bienvenido de Nuevo!</h2>
          </v-col>
          <v-col cols="12" class="mb-16">
            <v-btn v-if="!unidad_educativa" block x-large elevation="0" rounded color="#0B7FB9" @click="goToPage('register')"
                   class="my-btn">
              Registrar Unidad Educativa
            </v-btn>
            <v-btn v-else disabled outlined x-large rounded block elevation="0" color="#0B7FB9" class="my-btn">
              {{ unidad_educativa.nombre }}
            </v-btn>
          </v-col>
          <v-col cols="12" class="mb-16">
            <v-btn x-large block elevation="0" rounded color="#0B7FB9" @click="goToPage('equipo')" class="my-btn">
              Registrar Equipo
            </v-btn>
          </v-col>
          <v-col cols="12">
            <v-btn x-large block elevation="0" rounded color="#0B7FB9" @click="goToPage('institutostatus')" class="my-btn">
              Revisar Estatus
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
import {mapState} from "vuex";

export default defineComponent({
  name: 'HomeView',
  computed: {
    ...mapState('accountStore', ['unidad_educativa'])
  },
  methods: {
    goToPage(namePage) {
      this.$router.push({
        name: namePage
      })
    }
  }
})
</script>

<style scoped>
.my-container {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}

.my-btn {
  color: #FFF; 
  text-transform: none
}
</style>