<template>
  <v-container class="my-container" fill-height fluid>
    <v-row class="container-content">
      <v-col cols="12" class="text-center mb-10">
        <h2>¡Bienvenido de Nuevo!</h2>
      </v-col>
      <v-col cols="12" align="center" class="mb-16 mt-8">
        <v-img
            :lazy-src="logito"
            max-height="150"
            max-width="429"
            :src="logito"
        ></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
import logo from "@/assets/logo.png";


export default defineComponent({
    name: 'HomeView',
    methods: {
      goToPage(namePage) {
        this.$router.push({
          name: namePage
        })
      }
    },
  data() {
      return {
        logito: logo
      }
  }
})
</script>

<style scoped>
.my-container {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 90%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}
</style>