<template>
  <v-app >
      <router-view/>
  </v-app>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'App',
  beforeMount() {
    this.axios.interceptors.response.use(undefined, error => {
      if (error.response) {
        this.$awn.alert(error.response.data.message);
      } else {
        if (error.message)
          this.$awn.error(error.message)
        else
          this.$awn.alert('Network error');
      }
      return Promise.reject(error)
    })
  }
});
</script>

<style>
* {
  font-family: 'Poppins', sans-serif;
}
</style>
