<template>
  <v-container class="my-container" fill-height fluid>
    <v-form ref="formLogin" lazy-validation>
      <v-row class="container-content" no-gutters>
        <v-col cols="12" class="text-center mb-12">
          <img src="../../assets/logo.png" alt="Logo" height="120">
        </v-col>
        <v-col cols="12" class="text-center mb-6">
          <h2 class="mb-4">Recuperación de contraseña</h2>
          <p>Recibirás un código al correo electrónico para recuperar tu contraseña</p>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Correo electrónico:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Escriba su correo electrónico"
            v-model.trim = "email"
            :rules = "emailRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col align="center" cols="12">
          <v-btn x-large elevation="0" rounded color="#0B7FB9" @click="handleRequestPassword" style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Enviar Código
            </div>
          </v-btn>
        </v-col>
        <v-col cols="12" class="text-center my-link mt-6" @click="goToPage('Login')">
          <p>¿Tienes una cuenta? Inicia Sesión</p>
        </v-col>
        <v-col cols="12" class="text-center my-link" @click="goToPage('Register')">
          <p>Registra una Institución</p>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'ForgetPasswordView',
    data () {
      return {
        loading: false,
        email: '',
        emailRules: [
          (v) => !!v || '',
          (v) => /.+@.+\..+/.test(v) || 'Dirección de correo inválida'
        ]
      }
    },
    methods: {
      goToPage(namePage) {
        this.$router.push({
          name: namePage,
        })
      },
      handleRequestPassword() {
        if (this.$refs.formLogin.validate()) {

          this.loading = true;

          const request = {
            email: this.email
          }

          this.axios.post('/auth/password/recovery', request)
            .then(() => {
              this.$awn.success('Correo Electrónico Enviado');
              this.$router.push({
                name: 'NewPassword',
                params: { email: this.email }
              })
              this.$refs.formLogin.reset();
            })
            .finally(() => {
              this.loading = false;
            })
        }
        
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}

.my-p {
  font-weight: 600;
}

.my-link {
  color: #0B7FB9; 
  cursor: pointer;
}

.my-link:hover {
  text-decoration: underline
}
</style>