<template>
  <v-container class="my-container" fill-height fluid>
    <v-form ref="formLogin" lazy-validation>
      <v-row class="container-content" no-gutters>
        <v-col cols="12" class="text-center mb-12">
          <img src="../../assets/logo.png" alt="Logo" height="120">
        </v-col>
        <v-col cols="12" class="text-center mb-6">
          <h2>¡Bienvenido de nuevo!</h2>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Nombre de usuario:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Escriba su nombre de usuario"
            v-model.trim = "username"
            :rules = "usernameRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Escriba su contraseña"
            v-model.trim = "password"
            :type = "show ? 'text' : 'password'"
            :append-icon = "show ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show = !show"
            :rules = "passwordRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col align="center" cols="12">
          <v-btn
              @click="handleLogin"
              x-large elevation="0" rounded color="#0B7FB9" style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Ingresar
            </div>
          </v-btn>
        </v-col>
        <v-col cols="12" class="text-center my-link mt-6" @click="goToPage('ForgetPassword')">
          <p>¿Olvidaste tu contraseña?</p>
        </v-col>
        <v-col cols="12" class="text-center my-link" @click="goToPage('Register')">
          <p>Registra una Institución</p>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'LoginView',
    data () {
      return {
        show: false,
        loading: false,
        username: '',
        password: '',
        usernameRules: [
          (v) => !!v || '',
        ],
        passwordRules: [
          (v) => !!v || '',
        ]
      }
    },
    methods: {
      goToPage(namePage) {
        this.$router.push({
          name: namePage
        })
      },
      handleLogin() {
        if (this.$refs.formLogin.validate()) {
          this.loading = true;
          const request = {
            username: this.username,
            password: this.password
          }
          this.$store.dispatch('authStore/login', request)
            .then(({data}) => {
              if (data.user.role === 'school')
                this.$router.replace({
                  name: 'HomeView'
                })
              else {
                this.$router.replace({
                  name: 'admin'
                })
              }
            })
            .finally(() => {
              this.loading = false;
            });
        }
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}

.my-p {
  font-weight: 600;
}

.my-link {
  color: #0B7FB9; 
  cursor: pointer;
}

.my-link:hover {
  text-decoration: underline
}
</style>