<template>
  <v-container class="my-container" fill-height fluid>
    <v-form ref="formLogin" lazy-validation>
      <v-row class="container-content" no-gutters>
        <v-col cols="12" class="text-center mb-12">
          <img src="../../assets/logo.png" alt="Logo" height="120">
        </v-col>
        <v-col cols="12" class="text-center mb-6">
          <h2>Recuperación de contraseña</h2>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Código:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Código recibido"
            v-model.trim = "code"
            :rules = "codeRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Nueva contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Nueva contraseña"
            v-model.trim = "password1"
            :type = "show1 ? 'text' : 'password'"
            :append-icon = "show1 ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show1 = !show1"
            :rules = "passwordRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Repetir nueva contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Repetir Nueva contraseña"
            v-model.trim = "password2"
            :type = "show2 ? 'text' : 'password'"
            :append-icon = "show2 ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show2 = !show2"
            :rules = "passwordRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col align="center" cols="12">
          <v-btn x-large elevation="0" rounded color="#0B7FB9" style="color: #FFF; text-transform: none" @click="handleNewPassword">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Cambiar Contraseña
            </div>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
// Colors (Hex):
// Blue: #0B7FB9
// Black Grey: #2D2D2D
// Light Grey: #ECECEC
import {defineComponent} from 'vue';
export default defineComponent({
    name: 'NewPasswordView',
    props: {
      email: String
    },
    data () {
      return {
        show1: false,
        show2: false,
        loading: false,
        code: '',
        password1: '',
        password2: '',
        codeRules: [
          (v) => !!v || '',
        ],      
        passwordRules: [
          (v) => !!v || '',
          (v) => v.length >= 8 || 'Contraseña debe tener al menos 8 caracteres',
          (v) => v.length <= 15 || 'Entre 8 y 15 caracteres',
          (v) => /(?=.*[A-Z])/.test(v) || 'Al menos una mayúscula',
          (v) => /(?=.*\d)/.test(v) || 'Al menos 1 número'
        ],
      }
    },
    methods: {
      goToPage(namePage) {
        this.$router.replace({
          name: namePage
        })
      },
      async handleNewPassword() {
        this.loading = true;
        
        const valid = await this.$refs.formLogin.validate();
        if (!valid) return;
        
        const request = {
          email: this.email,
          token: this.code,
          password: this.password1,
          password_confirmation: this.password2
        }
        this.axios.post('/auth/password/change', request)
          .then(() => {
            this.loading = false;
            this.$awn.success('Contraseña Modificada con Éxito');
            this.$refs.formLogin.reset();
            this.goToPage('Login');
          });
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}

.my-p {
  font-weight: 600;
}
</style>