<template>
  <v-container class="my-container" fill-height fluid>
    <v-form ref="formLogin" lazy-validation>
      <v-row class="container-content" no-gutters>
        <v-col cols="12" class="text-center mb-12">
          <img src="../../assets/logo.png" alt="Logo" height="120">
        </v-col>
        <v-col cols="12" class="text-center mb-6">
          <h2>Registro de Usuario</h2>
          <h4>Unidad Educativa</h4>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Nombre de Usuario:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Nombre de Usuario"
            v-model.trim = "username"
            :rules = "usernameRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Correo Electrónico:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Correo electrónico de la Unidad Educativa"
            v-model.trim = "email"
            :rules = "emailRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Nombre de la Unidad Educativa:</p>
          <v-text-field
              outlined
              rounded
              color="#0B7FB9"
              v-model.trim="name"
              placeholder="Nombre de la Unidad Educativa"
              :rules="requireRules"
              background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <p class="my-p">Contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Contraseña"
            v-model.trim = "password"
            :type = "show ? 'text' : 'password'"
            :append-icon = "show ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show = !show"
            :rules = "passwordRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="mb-4">
          <p class="my-p">Confirmar Contraseña:</p>
          <v-text-field
            outlined
            rounded
            color = "#0B7FB9"
            placeholder = "Confirmar Contraseña"
            v-model.trim = "password2"
            :type = "show2 ? 'text' : 'password'"
            :append-icon = "show2 ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append = "show2 = !show2"
            :rules = "passwordRules"
            background-color="#ECECEC"
          ></v-text-field>
        </v-col>


        <v-col align="center" cols="12">
          <v-btn
              @click="handleRegister"
              x-large elevation="0" rounded color="#0B7FB9" style="color: #FFF; text-transform: none">
            <div v-if="loading">
              <v-progress-circular
                  color="#FFF"
                  indeterminate
                  size="28"
              ></v-progress-circular>
            </div>
            <div v-else>
              Registrar Unidad Educativa
            </div>
          </v-btn>
        </v-col>
        <v-col cols="12" class="text-center my-link mt-6" @click="goToPage('Login')">
          <p>¿Tienes una cuenta? Inicia Sesión</p>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
    name: 'RegisterView',
    data () {
      return {
        show: false,
        show2: false,
        loading: false,
        username: '',
        password: '',
        password2: '',
        email: '',
        name: '',
        usernameRules: [
          (v) => !!v || '',
        ],
        passwordRules: [
          (v) => !!v || '',
          (v) => v.length >= 8 || 'Contraseña debe tener al menos 8 caracteres',
          (v) => v.length <= 15 || 'Entre 8 y 15 caracteres',
          (v) => /(?=.*[A-Z])/.test(v) || 'Al menos una mayúscula',
          (v) => /(?=.*\d)/.test(v) || 'Al menos 1 número'
        ],
        emailRules: [
          (v) => !!v || '',
          (v) => /.+@.+\..+/.test(v) || 'Dirección de correo inválida'
        ],
        requireRules: [
          (v) => !!v || '',
        ],
      }
    },
    methods: {
      goToPage(namePage) {
        this.$router.push({
          name: namePage
        })
      },
      handleRegister() {
        if (this.$refs.formLogin.validate()) {
          this.loading = true;
          const request = {
            username:               this.username,
            email:                  this.email,
            password:               this.password,
            password_confirmation:  this.password2,
            unidad_educativa:       this.name
          }
          this.axios.post('/auth/registro', request)
            .then(() => {
              this.$awn.success('Registro Exitoso');
              this.$refs.formLogin.reset();
              this.goToPage('Login');
            })
            .finally(() => {
              this.loading = false;
            });
        }
      }
    }
})
</script>

<style scoped>
.my-container {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .my-container {
    width: 100%;
  }
}

.container-content {
  border: 1px solid #2D2D2D;
  border-radius: 10px;
  padding: 30px;
  background-color: #FFFFFF;
}

.my-p {
  font-weight: 600;
}

.my-link {
  color: #0B7FB9; 
  cursor: pointer;
}

.my-link:hover {
  text-decoration: underline
}
</style>